/* sample */

.answer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    margin-left: .5rem;
    height: 2.2rem;
    border: .125rem solid black;
    border-radius: 5px;
    line-height: 2rem;
    color: #fff;   
}

.sample {
    margin-bottom: 10px;
    display: flex;
    input {
        height: 2.2rem;
        flex-grow: 1;
    }
}

.no-match {
    border-color: rgb(150, 4, 4);
    background-color: rgb(150, 4, 4);
}